<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
<div>
  <h1> 회원가입</h1>
</div>
<div>
  <form th:action="@{/signup}" method="post">
    <div class="user=group">
      <div>
        <p>아이디(이메일 입력)</p>
        <input type="text" name="email" placeholder="E-mail">
      </div>
      <div>
        <p>비밀번호</p>
        <input type="password" name="password" placeholder="PASSWORD">
      </div>
      <div>
        <p>비밀번호 확인</p>
        <input type="password" name="password_check" placeholder="PASSWORD">
      </div>
      <div>
        <p>닉네임</p>
        <input type="text" name="nickname" placeholder="NICKNAME">
      </div>
      <div>
      <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
      <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
      </div>
      <button type="submit">회원가입</button>
    </div>
  </form>
</div>

</body>
</html>